.main {
  padding: 168px 20px 40px 0;
  grid-area: main;
}

.main section {
  padding: 30px 20px;
  padding-left: 0;
}

h2 {
  font-size: 30px;
  color: rgb(41, 44, 51);
  margin-top: 0px;
}

p {
  font-size: 20px;
  color: rgb(138, 138, 138);
}